/*Footer*/
footer {
  background: var(--black-color);
  color: #FFF;
}
footer .container {
  padding-top: 100px;
  padding-bottom: 60px;
}
footer .block {
  display: flex;
  justify-content: space-between;
  gap: 105px;
}
footer .about {
  width: 357px;
}
footer .about img {
  width: 200px;
  margin-bottom: 21px;
}
footer h4 {
  font-family: "Roboto Serif", serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 24px;
}
footer .pages li {
  margin-bottom: 16px;
  font-size: 1rem;
  letter-spacing: 0.03rem;
}
footer .pages li:last-child {
  margin-bottom: 0;
}
footer a, footer a:visited {
  color: var(--grey-color);
}
footer a:hover, footer a:active {
  color: var(--green-color);
}

.subscribe-block {
  width: 31%;
}
.subscribe-block h4 {
  margin-bottom: 17px;
}
.subscribe-block form {
  color: var(--text-color);
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.03375rem;
  position: relative;
}
.subscribe-block form button {
  position: absolute;
  padding: 8px 15px;
  color: var(--white-color);
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.03375rem;
  right: 15px;
  top: 12px;
  border-radius: 20px;
  background: var(--black-color);
  border: 2px solid black;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s;
}
.subscribe-block form button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  border-radius: 10rem;
  z-index: -2;
}
.subscribe-block form button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--orange-color);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.subscribe-block form button:hover {
  color: var(--black-color);
}
.subscribe-block form button:hover::before {
  width: 100%;
}
.subscribe-block form button:active::before {
  background-color: var(--dark-orange);
}
.subscribe-block input {
  width: 433px;
  padding: 10px 9px 10px 23px;
  border-radius: 40px;
  background: #FFF;
  height: 67px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
}
.subscribe-block input::placeholder {
  color: var(--text-color);
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.03375rem;
  transform: translateY(2px);
}

.block-top {
  padding-bottom: 101px;
  border-bottom: 1px solid var(--grey-color);
  margin-bottom: 29px;
}

.block-bottom h4 {
  margin-bottom: 16px;
}
.block-bottom address {
  font-style: normal;
}

.socials-list {
  display: flex;
  justify-content: space-between;
  gap: 29px;
}
.socials-list a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
.socials-list a:hover {
  background-color: var(--black-color);
  transition: all 0.2s ease;
  border: 1px solid white;
}
.socials-list a:hover svg {
  transition: all 0.2s ease;
  filter: invert(1);
}
.socials-list svg {
  width: 23px;
  height: 23px;
}

/*Media*/
@media screen and (max-width: 1552px) {
  .subscribe-block form input {
    width: 100%;
  }
  .subscribe-block form button {
    left: 65%;
    right: 4%;
  }
}
@media screen and (max-width: 1430px) {
  footer .block-bottom {
    flex-wrap: wrap;
    gap: 20px 20%;
    justify-content: space-between;
  }
  footer .block-bottom > div {
    width: 40%;
  }
  footer .block-bottom .socials-list {
    margin-right: auto;
  }
}
@media screen and (max-width: 1328px) {
  .container {
    width: min(90%, 1000px);
  }

  footer .block {
    gap: 50px;
  }

  .subscribe-block {
    width: 40%;
  }

  footer .block-bottom .socials-list {
    margin-right: 20%;
  }
}
@media screen and (max-width: 1065px) {
  footer .container {
    padding-top: 60px;
    width: min(90%, 700px);
  }
  footer .block-top {
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  footer .block-top div {
    width: 70%;
    margin-inline: auto;
  }
  footer .block-top .pages {
    display: none;
  }
  footer .block-bottom {
    gap: 30px;
  }
  footer .block-bottom .socials-list {
    margin-inline: auto;
  }
  footer .block-bottom .address {
    display: none;
  }
}
@media screen and (max-width: 674px) {
  .copyright a, .telephone a {
    font-size: 1rem;
  }

  footer .block-top div {
    width: 100%;
  }
}
@media screen and (max-width: 442px) {
  input[type=email]::placeholder {
    font-size: 1rem;
  }

  .subscribe-block form button {
    left: 60%;
  }

  footer .block-bottom > div {
    width: 80%;
  }
}
@media screen and (max-width: 375px) {
  .subscribe-block form button {
    left: 50%;
  }
}