@import "fonts.scss";

:root {
    --text-color: rgba(12, 12, 12, 0.9);
	--white-color: #FBFBFB;
	--black-color: #0C0C0C;
	--green-color: #64CCC5;
	--orange-color: #ffd930;
	--grey-color: #f4f4f4;
	--dark-orange: #ff9e30;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	color: var(--text-color);
	font-family: "DM Sans", sans-serif;
	font-size: 1.125rem;
	letter-spacing: 0.03375rem;
}

.container {
	width: min(90%, 1400px);
	margin-inline: auto;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	object-fit: contain;
	vertical-align: top;
}

button {
	display: inline-block;
	color: var(--text-color);
	font-family: "DM Sans", sans-serif;
	font-size: 1.25rem;
	letter-spacing: 0.03375rem;
	padding: 9px 15px;
	border-radius: 23px;
	background-color: var(--white-color);
	cursor: pointer;
	overflow: hidden;
	z-index: 1;
	position: relative;
	transition: all .3s;
	border: 2px solid var(--white-color);
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--white-color);
		border-radius: 10rem;
		z-index: -2;
	}
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: var(--orange-color);
		transition: all .3s;
		border-radius: 10rem;
		z-index: -1;
  	}
  	&:hover::before {
      width: 100%;
    }
	&:active::before {
		background-color: var(--dark-orange);
	}
}

/*Header*/

header {
	padding-top: 21px;
	background-color: var(--black-color);
	.container {
		display: flex;
		justify-content: space-between;
		margin-left: 226px;
	}
	.logo img {
		height: 100%;
	}
}

.main-menu ul {
	display: flex;
	gap: 40px;
	padding: 17px 0;
	a, a:visited, :active {
		color: var(--white-color);
		position: relative;
		display: inline-block;
		&::after {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			background: var(--orange-color);
			bottom: -5px;
			left: 50%;
			display: inline-block;
			transition: all .3s ease;
			transform: translateX(-50%);
		}
		&:hover::after {
			width: calc(100% - 10px);
	   }
	}
}

.buttons-block {
	margin-right: 6px;
	margin-top: 5px;
	button {
		font-size: 1.125rem;
	}
}

.hamburger {
	display: none;
}

/*First*/

.green {
	color: var(--green-color);
}

main {
	position: relative;
	&::before {
		position: absolute;
		content: url('../img/index/ornament.svg');
		top: calc(1% + 18px);
	}
}

.first {
	background-color: var(--black-color);
	padding-top: 160px;
	padding-bottom: 117px;
	background-image: url('../img/index/round-l.png');
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: contain;
	margin-bottom: 100px;
	.container {
		display: flex;
		justify-content: space-between;
	}
	.text-content{
		width: 610px;
		color: var(--white-color);
		margin-left: 5px;
	}
	h4 {
		margin-top: 182px;
		font-family: "Roboto Serif", serif;
		font-weight: 600;
		margin-bottom: 6px;
	}
	.image-box {
		align-self: flex-start;
		width: 550px;
		aspect-ratio: 1;
		margin-right: 45px;
		margin-top: 10px;
		position: relative;
		&::before {
			content: url('../img/index/round-s.png');
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%) rotate(0deg);
			animation: rotate-small 10s linear infinite;
		}
		&::after {
			content: url('../img/index/round-m.png');
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-51%, -50%) rotate(0deg);
			animation: rotate-big 3s linear infinite;
		}
	}
}

@keyframes rotate-big {
    from {
        transform: translate(-51%, -50%) rotate(0deg);
    }

	25% {
        transform: translate(-52%, -51%) rotate(-90deg);
	}

	50% {
        transform: translate(-53%, -52%) rotate(-150deg);
	}

	75% {
        transform: translate(-52%, -51%) rotate(-180deg);
	}

    to {
        transform: translate(-51%, -50%) rotate(-360deg);
    }
}

@keyframes rotate-small {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

	25% {
        transform: translate(-52%, -53%) rotate(90deg);
	}

	50% {
        transform: translate(-55%, -52%) rotate(150deg);
	}

	75% {
        transform: translate(-53%, -51%) rotate(180deg);
	}

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

h1 {
	font-family: "Roboto Serif", serif;
	font-size: 4rem;
	font-weight: 600;
	padding-bottom: 22px;
	letter-spacing: -0.1rem;
	+ p {
		width: 550px;
		letter-spacing: 0.03375rem;
		padding-bottom: 27px;
	}
}

.start-trial-btn {
	display: flex;
	padding: 10px 20px 10px 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: 1.25rem;
	border-radius: 26px;
	letter-spacing: -0.01rem;
}

.btn-arrow {
	display: inline-block;
	width: 28px;
	height: 28px;
	position: relative;
	background-color: var(--black-color);
	border-radius: 50%;
	&::before {
		content: '';
		position: absolute;
		border-top: 1px solid var(--white-color);
		border-left: 1px solid var(--white-color);
		z-index: 1;
		left: 9px;
		top: 10px;
		width: 8px;
		aspect-ratio: 1;
		rotate: 135deg;
	}
}

.partners-list {
	display: flex;
	width: 694px;
	gap: 10px;
	margin-left: -14px;
	li {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	li svg {
		fill: var(--white-color);
	}
	li:hover svg {
		fill: var(--green-color);
		transition: all .5s ease ;
	}
}

/*Services*/
hgroup {
	width: 700px;
	margin: 0 auto;
	h2 {
		font-family: "Roboto Serif", serif;
		font-size: 1.875rem;
		font-weight: 600;
		margin-bottom: 24px;
		text-align: center;
		letter-spacing: -0.05rem;
		+ p {
			color: var(--black-color);
			text-align: center;
			font-family: "Roboto Serif", serif;
			font-size: 4rem;
			font-weight: 600;
			margin-bottom: 80px;
			letter-spacing: -0.1rem;
		}
	}
}

.services-list {
	display: grid;
	gap: 78px 66px;
	grid-template-columns: repeat(auto-fit, minmax(422px, 1fr));
	margin-bottom: 122px;
}

.services-list li {
	border-radius: 20px;
	background: var(--grey-color);
	padding: 45px;
	.svg-box {
		background-color: var(--black-color);
		border-radius: 50%;
		width: 80px;
		height: 80px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 62px;
	}
	svg {
		width: 30px;
		height: 30px;
	}
	h3 {
		color: var(--black-color);
		font-family: "Roboto Serif", serif;
		font-size: 1.5625rem;
		font-weight: 500;
		margin-bottom: 15px;
		letter-spacing: -0.01rem;
	}
	&:hover {
		background-color: var(--black-color);
		color: var(--grey-color);
		transition: all .2s ease;
		h3 {
		color: var(--grey-color);
		}
		.svg-box {
			background-color: var(--white-color);
			svg {
				filter: invert(1);
			}
		}
	}
}

/*About*/
.about-us {
	background-color: var(--black-color);
	.container {
		padding-top: 163px;
		display: flex;
		gap: 64px;
		padding-bottom: 100px;
		margin-bottom: 107px;
	}
	.gallery {
		position: relative;
		width: 55%;
		.image-box {
			width: 640px;
			aspect-ratio: 1;
			border-radius: 20px;
		}
		img {
			border-radius: 20px;
		}
	}
	.text-content {
		width: 586px;
		color: var(--white-color);
		hgroup {
			width: auto;
			+ p {
			margin-bottom: 25px;
		}
		}
		h2 {
			text-align: left;
			margin-top: 17px;
			+ p {
				color: var(--white-color);
				text-align: left;
				letter-spacing: -0.15rem;
				margin-bottom: 25px;
			}
		}
	}
}

.statistics {
	font-size: 1rem;
	letter-spacing: 0.03rem;
	display: flex;
	gap: 59px;
	margin-bottom: 32px;
	.green {
		font-family: "Roboto Serif", serif;
		font-size: 2.8125rem;
		font-weight: 600;
		margin-bottom: 9px;
	}
}

/*Gallery*/
.photo-1 {
	position: relative;
	img{
		position: relative;
		z-index: 9;
	}
	&::before {
		position: absolute;
		content: '';
		background: rgb(18, 18, 18, 0.2);
		width: 100%;
		display: block;
		height: 100%;
		border-radius: 20px;
		z-index: 10;
	}
}

.photo-2, .photo-3 {
	position: absolute;
	&::before {
		position: absolute;
		content: '';
		background: rgb(18, 18, 18, 0.2);
		width: 100%;
		display: block;
		height: 100%;
		border-radius: 20px;
	}
}

.photo-2 {
	left: 60px;
	bottom: 31px;
	z-index: 8;
	&::before {
		left: 0;
		bottom: 0;
		z-index: 7;
	}
	img {
		opacity: .5;
		z-index: 8;
	}
}

.photo-3 {
	left: 7px;
	bottom: 63px;
	&::before {
		left: 0;
		bottom: 0;
		z-index: 5;
	}
	img {
		opacity: .2;
		z-index: 6;
	}
}

.photo-1 {
	left: 112px;
}

/*Process*/
.process hgroup {
	margin-bottom: 98px;
}

.process-list {
	display: grid;
	gap: 92px;
	grid-template-columns: repeat(auto-fit, minmax(273px, 1fr));
	width: 98%;
	margin: 0 auto;
	margin-bottom: 105px;
}

.process-list li {
	.svg-box {
		background-color: var(--black-color);
		border-radius: 50%;
		width: 77px;
		height: 77px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 2px solid var(--white-color);
	}
	h3 {
		position: absolute;
		color: var(--black-color);
		font-family: "Roboto Serif", serif;
		font-size: 1.9rem;
		font-weight: 600;
		letter-spacing: -0.01rem;
		left: 102px;
		top: 25px;
	}
	p {
		font-size: 1rem;
		letter-spacing: 0.03rem;
		padding: 0 31px 34px 40px;

	}
}

.header-box {
	margin-left: 70px;
	margin-bottom: 36px;
	position: relative;
	&::after {
		content: url('../img/index/process-arrow.svg');
		position: absolute;
		left: -71px;
		top: 36px;
		z-index: -1;
	}
}

.process-list li:last-of-type .header-box::after {
	content: url('../img/index/process-arrow-last.svg');
	position: absolute;
	right: 0;
	top: 36px;
	z-index: -1;
}

/*Recent*/

.recent h2 {
	color: var(--black-color);
	font-family: "Roboto Serif", serif;
	font-size: 4rem;
	font-weight: 600;
	text-align: center;
	letter-spacing: -0.015rem;
	margin-bottom: 85px;
}

.projects {
	display: flex;
	margin-bottom: 103px;
	align-content: start;
	gap: 73px;
	button {
		margin-top: 70px;
		margin-bottom: 51px;
		margin-left: auto;
		align-self: flex-start;
		background: var(--black-color);
		color: var(--white-color);
		border: 2px solid black;
		&::after {
			background-color: var(--black-color);
		}
		&:hover {
			color: var(--black-color);
		}
	}
	.btn-arrow {
	background-color: var(--white-color);
		&::before {
			border-top: 1px solid var(--black-color);
			border-left: 1px solid var(--black-color);
		}
	}
}
.side {
	width: calc(50% - 35px);
}
.project {
	margin-bottom: 88px;
	.image-box {
		margin-bottom: 16px;
	}
	h3 {
		color: var(--black-color);
		font-family: "Roboto Serif", serif;
		font-size: 1.875rem;
		font-weight: 600;
		margin-bottom: 10px;
		letter-spacing: -0.07rem;
	}
}

.page-shadow {
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(#000, .7);
	width: 100%;
	height: 100%;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
}

.mobile-panel {
	position: fixed;
	left: 0;
	top: 0;
	transform: translateX(-300px);
	background: #fff;
	width: 300px;
	height: 100vh;
	z-index: 1000;
	transition: all .5s ease;
}

.open-mobile-menu {
	.page-shadow {
		opacity: 1;
		visibility: visible;
	}
	.mobile-panel {
		transform: translateX(0);
	}
}

.mobile-menu {
	ul {
		border-top: 1px solid var(--gray);
		li {
			border-bottom: 1px solid var(--gray);
			a {
				display: inline-block;
				padding: 10px 20px;
				color: var(--gray);
				width: 100%;
			}
		}
	}
}