@import "fonts.scss";
@import "hamburgers.scss";
@import "footer.scss";
@import "defaults.scss";
@import "gallery.scss";

/*Header*/

header {
	background-color: var(--black-color);
}

.main-menu ul {
	a, a:visited, :active {
		color: var(--white-color);
	}
}

/*First*/

main {
	position: relative;
	&::before {
		position: absolute;
		content: url('../img/index/ornament.svg');
		top: calc(1% + 50px);
	}
}

.first {
	background-color: var(--black-color);
	padding-bottom: 117px;
	background-image: url('../img/index/round-l.png');
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: contain;
	margin-bottom: 100px;
	.container {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	.text-content{
		padding-top: 160px;
		width: 45%;
		color: var(--white-color);
		margin-left: 5px;
	}
	h4 {
		margin-top: 182px;
		font-family: "Roboto Serif", serif;
		font-weight: 600;
		margin-bottom: 6px;
	}
	.image-box {
		width: 550px;
		aspect-ratio: 1;
		margin-right: 45px;
		margin-top: 10px;
		position: relative;
		&::before {
			content: url('../img/index/round-s.png');
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%) rotate(0deg);
			animation: rotate-small 10s linear infinite;
		}
		&::after {
			content: url('../img/index/round-m.png');
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-51%, -50%) rotate(0deg);
			animation: rotate-big 3s linear infinite;
		}
	}
	.wrapper {
		position: absolute;
		overflow: hidden;
		width: 60%;
		left: 49%;
		top: 2%;
		display: flex;
		align-items: center;
		justify-content: center;
		aspect-ratio: 1;
	}
}

@keyframes rotate-big {
    from {
        transform: translate(-51%, -50%) rotate(0deg);
    }

	25% {
        transform: translate(-52%, -51%) rotate(-90deg);
	}

	50% {
        transform: translate(-53%, -52%) rotate(-150deg);
	}

	75% {
        transform: translate(-52%, -51%) rotate(-180deg);
	}

    to {
        transform: translate(-51%, -50%) rotate(-360deg);
    }
}

@keyframes rotate-small {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

	25% {
        transform: translate(-52%, -53%) rotate(90deg);
	}

	50% {
        transform: translate(-55%, -52%) rotate(150deg);
	}

	75% {
        transform: translate(-53%, -51%) rotate(180deg);
	}

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

h1 {
	font-family: "Roboto Serif", serif;
	font-size: 4rem;
	font-weight: 600;
	padding-bottom: 22px;
	letter-spacing: -0.1rem;
	+ p {
		width: 550px;
		letter-spacing: 0.03375rem;
		padding-bottom: 27px;
	}
}

.partners-list {
	display: flex;
	width: 694px;
	gap: 10px;
	margin-left: -14px;
	li {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	li svg {
		fill: var(--white-color);
	}
	li:hover svg {
		fill: var(--green-color);
		transition: all .5s ease ;
	}
}

/*Services*/
hgroup {
	width: 700px;
	margin: 0 auto;
	h2 {
		font-family: "Roboto Serif", serif;
		font-size: 1.875rem;
		font-weight: 600;
		margin-bottom: 24px;
		text-align: center;
		letter-spacing: -0.05rem;
		+ p {
			color: var(--black-color);
			text-align: center;
			font-family: "Roboto Serif", serif;
			font-size: 4rem;
			font-weight: 600;
			margin-bottom: 80px;
			letter-spacing: -0.1rem;
		}
	}
}

.services-list {
	display: grid;
	gap: 78px 66px;
	grid-template-columns: repeat(auto-fit, minmax(422px, 1fr));
	margin-bottom: 122px;
}

.services-list li {
	border-radius: 20px;
	background: var(--grey-color);
	padding: 45px;
	.svg-box {
		background-color: var(--black-color);
		border-radius: 50%;
		width: 80px;
		height: 80px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 62px;
	}
	svg {
		width: 30px;
		height: 30px;
	}
	h3 {
		color: var(--black-color);
		font-family: "Roboto Serif", serif;
		font-size: 1.5625rem;
		font-weight: 500;
		margin-bottom: 15px;
		letter-spacing: -0.01rem;
	}
	&:hover {
		background-color: var(--black-color);
		color: var(--grey-color);
		transition: all .2s ease;
		h3 {
		color: var(--grey-color);
		}
		.svg-box {
			background-color: var(--white-color);
			svg {
				filter: invert(1);
			}
		}
	}
}

/*About*/
.about-us {
	background-color: var(--black-color);
	.container {
		padding-top: 163px;
		display: flex;
		gap: 64px;
		padding-bottom: 174px;
		margin-bottom: 107px;
	}
	.text-content {
		width: 586px;
		color: var(--white-color);
		hgroup {
			width: auto;
			+ p {
			margin-bottom: 25px;
		}
		}
		h2 {
			text-align: left;
			margin-top: 17px;
			+ p {
				color: var(--white-color);
				text-align: left;
				letter-spacing: -0.15rem;
				margin-bottom: 25px;
			}
		}
	}
}

.statistics {
	font-size: 1rem;
	letter-spacing: 0.03rem;
	display: flex;
	gap: 59px;
	margin-bottom: 32px;
	.green {
		font-family: "Roboto Serif", serif;
		font-size: 2.8125rem;
		font-weight: 600;
		margin-bottom: 9px;
	}
}

/*Process*/
.process hgroup {
	margin-bottom: 98px;
}

.process-list {
	display: grid;
	gap: 92px;
	grid-template-columns: repeat(auto-fit, minmax(273px, 1fr));
	width: 98%;
	margin: 0 auto;
	margin-bottom: 105px;
}

.process-list li {
	.svg-box {
		background-color: var(--black-color);
		border-radius: 50%;
		width: 77px;
		height: 77px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 2px solid var(--white-color);
	}
	h3 {
		position: absolute;
		color: var(--black-color);
		font-family: "Roboto Serif", serif;
		font-size: 1.9rem;
		font-weight: 600;
		letter-spacing: -0.01rem;
		left: 102px;
		top: 25px;
	}
	p {
		font-size: 1rem;
		letter-spacing: 0.03rem;
		padding: 0 31px 34px 40px;

	}
}

.header-box {
	margin-left: 70px;
	margin-bottom: 36px;
	position: relative;
	&::after {
		content: url('../img/index/process-arrow.svg');
		position: absolute;
		left: -71px;
		top: 36px;
		z-index: -1;
	}
}

.process-list li:last-of-type .header-box::after {
	content: url('../img/index/process-arrow-last.svg');
	position: absolute;
	right: 0;
	top: 36px;
	z-index: -1;
}

/*Recent*/

.recent h2 {
	color: var(--black-color);
	font-family: "Roboto Serif", serif;
	font-size: 4rem;
	font-weight: 600;
	text-align: center;
	letter-spacing: -0.015rem;
	margin-bottom: 85px;
}

.projects {
	display: flex;
	align-content: start;
	gap: 73px;
	margin-bottom: 13px;
	.btn {
		margin-top: 70px;
		margin-bottom: 51px;
		margin-left: auto;
		align-self: flex-start;
	}
}

.side {
	width: calc(50% - 35px);
}

.project {
	margin-bottom: 88px;
	.image-box {
		margin-bottom: 16px;
		overflow: hidden;
		border-radius: 20px;
		position: relative;
		img {
			object-fit: cover;
			transition: all .5s ease;
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
			transition: all .5s ease;
			z-index: 1;
			background: rgba(0, 0, 0, 0.2);
			opacity: 0;
		}
	}
	&:hover img {
		scale: 1.1;
	}
	&:hover .image-box::after {
		opacity: 1;
	}
	&:hover .image-box::before {
		content: url(../img/index/hover-arrow.svg);
		position: absolute;
		left: calc(50% - 20px);
		top: calc(50% - 20px);
		z-index: 2;
	}
	h3 {
		color: var(--black-color);
		font-family: "Roboto Serif", serif;
		font-size: 1.875rem;
		font-weight: 600;
		margin-bottom: 10px;
		letter-spacing: -0.07rem;
	}
	&:hover a, &:hover h3 {
		color:	var(--black-color);
	}
	a, a:visited {
		color: var(--black-color)
	}
}

 /*Review*/
.review-block {
	background: var(--grey-color);
	border-radius: 20px;
	margin-bottom: 111px;
}

.reviews-list {
	height: auto;
}

.review {
	padding: 45px;
	padding-bottom: 0;
	text-align: center;
	font-family: "Roboto Serif", serif;
	color: var(--black-color);
	.image-box {
		width: 150px;
		height: 150px;
		margin-bottom: 35px;
		margin-inline: auto;
	}
	img {
		border-radius: 150px;
	}
	blockquote {
		font-size: 1.5625rem;
		font-weight: 700;
		margin-bottom: 35px;
	}
	.author {
		font-size: 1.25rem;
		font-weight: 600;
		margin-bottom: 5px;
	}
	.position {
		color: var(--text-color);
		font-family: "DM Sans", sans-serif;
		font-size: 1rem;
		letter-spacing: 0.03rem;
		margin-bottom: 21px;
	}
}

.review-buttons-block {
	display: flex;
	width: 110px;
	justify-content: center;
	margin-inline: auto;
	gap: 11px;
	padding-bottom: 45px;
	.slider {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		border: 1px solid black;
		background: transparent;
		position: relative;
		cursor: pointer;
		&:hover {
			transition: all .2s ease;
			background: #000;
		}
		&:before {
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			border-right: 2px solid black;
			border-bottom: 2px solid black;
			rotate: 134deg;
			position: absolute;
			left: 18px;
			top: 17px;
		}
		&:hover::before {
			transition: all .2s ease;
			border-color: white;
		}
	}
	.arrow-right.slider:before {
		rotate: -45deg;
		left: 16px;
	}
}

/*Media*/
@media screen and (max-width: 1650px) {
	.first {
		.container {
			width: min(90%, 1200px);
		}
		.image-box {
			width: 60%;
			&::before {
				top: 35%;
				left: 35%;
				scale: .8;
			}
			&::after {
				top: 35%;
				left: 35%;
				scale: .8;
			}
		}
	}

h1 {
	font-size: 3.5rem;
}
hgroup h2 + p, .recent h2 {
    font-size: 3rem;
}

.services-list {
    gap: 50px;
	li .svg-box {
		margin-bottom: 20px;
		margin-inline: auto;
	}
}
}

@media screen and (max-width: 1552px) {

main::before {
	top: calc(1% - 40px);
}

.services-list {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.process-list {
	gap: 30px;
	.header-box {
		margin-top: 40px;
		margin-left: 30px;
		margin-bottom: 20px;
		position: relative;
		&::after {
			display: none;
		}
	}
	li {
		border: 3px solid var(--grey-color);
		border-radius: 20%;
		p {
		font-size: 1.3rem;
		}
		h3 {
		font-size: 1.6rem;
		}
	}
}
}

@media screen and (max-width: 1430px) {

	header .container {
		width: min(90%, 1100px);
	}

	.first {
		.container {
			width: min(90%, 1100px);
		}
		.text-content {
			padding-top: 80px;
		}
		h1 {
			font-size: 3rem;
		}
		.image-box {
			width: 60%;
			&::before {
				top: 25%;
				left: 25%;
				scale: .7;
			}
			&::after {
				top: 24%;
				left: 25%;
				scale: .7;
			}
		}
	}
	
	hgroup h2 + p, .recent h2 {
        font-size: 2.5rem;
    }

	.process-list {
		grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
		li {
			border-radius: 20px;
		}
	}
}

@media screen and (max-width: 1328px) {

	.container {
		width: min(90%, 1000px);
	}

	.first {
		padding-bottom: 80px;
		margin-bottom: 80px;
		.text-content {
			width: 60%;
		}
		.wrapper {
			top: -10%;
			width: 55%;
		}
		.image-box {
			width: 55%;
			&::before {
				top: 16%;
				left: 16%;
				scale: .6;
			}
			&::after {
				top: 9%;
				left: 9%;
				scale: .6;
			}
		}
		h4 {
			margin-top: 70px;
		}
	}

	hgroup h2 + p, .recent h2 {
		margin-bottom: 60px;
	}

	.services-list {
		margin-bottom: 80px;
		li {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		.svg-box {
			margin-inline: 10px;
		}
		h3 {
			align-self: center;
			margin-left: 10px;
		}
	}
}

	.about-us {
		.container {
			padding-top: 100px;
			padding-bottom: 80px;
			margin-bottom: 80px;
		}
	}

	.process hgroup {
		margin-bottom: 0;
	}
}


@media screen and (max-width: 1226px) {
	h1 {
		font-size: 1.8rem;
	}

	.first {
		.container {
			width: min(90%, 900px);
		}
		.wrapper {
			width: 60%;
		}
		.image-box {
			width: 55%;
			&::before {
				top: 6%;
				left: 10%;
				scale: .6;
			}
			&::after {
				top: -10%;
				left: -7%;
				scale: .5;
			}
		}

	}
}

@media screen and (max-width: 1065px) {
	.first {
		.wrapper {
		display: none;
		}
		.image-box {
			&::before {
				display: none;
			}
			&::after {
				display: none;
			}
		}
		.text-content {
			width: 80%;
			margin-inline: auto;
		}
	}

	main::before {
		display: none;
	}

	hgroup h2 + p, .recent h2 {
        font-size: 2.1rem;
    }

.review {
	display: flex;
	flex-wrap: wrap;
	.image-box {
		margin: 10px;
		margin-right: 30px;
	}

	blockquote {
		width: 70%;
		align-self: center;
		margin-bottom: 20px;
		font-size: 1.2rem;
	}
	.author, .position {
		width: 100%;
	}
}

.services-list li {
	padding: 20px;

	.svg-box {
		margin-bottom: 0;
	}

	h3 {
		margin-bottom: 0;
	}
	p {
		padding: 10px;
	}
}
}

@media screen and (max-width: 986px) {
hgroup {
	width: 70%;
}
.about-us {
	.container {
		padding-top: 60px;
	}
	.text-content {
		width: 70%;
		margin-inline: auto;
	}
}

.review .image-box {
	width: 100px;
	height: 100px;
}

.review-block {
	margin-bottom: 60px;
}
}

@media screen and (max-width: 864px) {

	.partners-list {
		margin: 0;
		width: 100%;
		gap: 0;
		justify-content: space-between;
		li {
		scale: .8;
		}
	}
}

/*Mobile menu*/
@media screen and (max-width: 836px) {
	.partners-list {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.partners-list li:last-child {
		scale: .7;
		transform: translate(-31px);
	}

	.first {
        padding-bottom: 60px;
        margin-bottom: 60px;
    }
	
	.services-list li .svg-box {
		scale: .7;
    }

	.about-us .container {
        padding-bottom: 60px;
        margin-bottom: 60px;
    }

	.project h3 {
		font-size: 1.5rem;
	}
	.process-list li .svg-box {
		scale: .7;
		.projects .btn {
		margin-top: 40px;
		}
	}
}

@media screen and (max-width: 674px) {

.first h1 {
	font-size: 2rem;
	+ p {
		width: 100%;
	}
}
	.process-list {
        grid-template-columns: 1fr;
		margin-bottom: 60px;
		.header-box {
			margin-top: 18px;
			margin-left: 28px;
			margin-bottom: 6px;
		}
    }

	.review {
		.image-box {
			display: none;
		}
		blockquote {
			width: 100%;
		}
	}

	.projects {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		gap: 0;
		.side {
			width: 100%;
		}
		.btn {
			margin-top: 0;
			margin-bottom: 25px;
		}
	}

	hgroup h2 + p, .recent h2 {
        margin-bottom: 40px;
    }

	.project {
		margin-bottom: 40px;
	}
}


@media screen and (max-width: 524px) {
	.about-us .text-content {
        width: 90%;
    }
	.partners-list li {
		width: 50%;
		transform: translate(-45px);
    }
	.first .text-content {
        padding-top: 40px;
    }

}

@media screen and (max-width: 442px) {

.services-list {
    grid-template-columns: 1fr;
	li {
		.svg-box {
			margin-inline: 0;
			width: 60px;
			height: 60px;
		}
		h3 {
			font-size: 1.1rem;
		}
    }
}
.partners-list li {
        transform: translate(-33px);
    }
hgroup h2 + p, .recent h2 {
        font-size: 1.5rem;
		letter-spacing: 0;
    }

.about-us .text-content h2 + p {
    letter-spacing: 0;
}

.statistics .green {
    font-size: 2rem;
}

    .process-list li {
		h3 {
			font-size: 1.3rem;
			left: 71px;
			top: 18px;
		}
	    p {
			font-size: 1.1rem;
    	}
		.svg-box {
			width: 60px;
			height: 60px;
		}
	}
}